* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.red{
  background-color: red;
}

.yellow{
  background-color: yellow;
}

.green{
  background-color: green;
}

.blue{
  background-color: blue;
}