<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/services/desing">desing</a></li>
            <li><a href="/user/info">user</a></li>
            <li><a href="/user/login">Iniciar Sesion</a></li>
        </ul>
    </nav>
</header>